/*---------------reset-------------------*/
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*---------------ELEMENTS--in alphabetical order-----------------*/

body {
    background-color:black; 
    font-family: Arial, Helvetica, sans-serif; 
    color: white;
}

fieldset {
    display: flex;
    flex-direction: column; 
    width: 75%;
    margin: 0 auto;
    padding-top: 0;
    border: none;
}

footer {
    display: block;
    margin: 0 auto;
    padding: 0.5rem 0 0 1rem;
        
} 
    
h1{
    width: 100%;
    color:grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 1rem auto;
}

label {
    display: inline-block;
    width: 40%;
    margin: 0;
    padding: 0;
    font-weight: 600;
    
    border: px solid green;
}

legend {
    visibility: hidden;
    margin: -200%;
}

mark {
    background-color: yellow;
    color: black;
}

/*-----------------------IDs---in alphabetical order------------------------------*/

#btn {
    display: inline-block;
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem 0;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: rgb(183, 182, 182);
    font-weight: 600;
}

#invisible {
    display: none;
}

#principal, #rate, #years{
    display: inline-block;
    padding: 0.2rem 0;
    margin: 0.5rem 1rem 0 auto;
    text-align: end;
    font-size: medium;
    border-radius: 5px;
    
    border: px solid blue;
}

#principal {
    width: 40%;
    margin: 0;
    padding: 0 0.5rem 0 auto;
    
    border: px solid orange;
}

#rate {
    padding-bottom: 0;
}

#result {
    display: inline-block;
    width: 100%;
    height: 0;
    margin-top: 0;
    padding: 0.25rem 0;
    
    border: px solid yellow;
    
}

#years {
    width: 5ch;
}

/*-----------------------CLASSES---in alphabetical order------------------------------*/

.formField {
    margin: 0;
    padding: 0;
    
    border: px solid red;
}

.maindiv {
    background-color: white;
    color: black;
    width: 500px; /* 500px matches the image; 300 px does not */
    height: 50%;
    padding: 20px;
    border-radius: 25px;
    margin: 2rem auto;
}

.resultStr{
    width: fit-content;
    padding: 0;
    margin: 0;
}

/*-----------------------FORM validation------------------------------*/

/*  This code sourced from MDN web docs:
    https://developer.mozilla.org/en-US/docs/Learn/Forms/Form_validation
*/
/* This is our style for the invalid fields */
 input:invalid {
    border-color: #900;
    background-color: #fdd;
  }
  
  input:focus:invalid {
    outline: none;
  }
  
  /* This is the style of our error messages */
  .error {
    width: 100%;
    padding: 0;
  
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
  
    box-sizing: border-box;
  }
  
  .error.active {
    padding: 0.3em;
  }
  
  input:valid {
    background: #fff;
    border-color: black;
  }